#container{
    background-image:url(./Images/background\ img.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 770px;
    width: 1500px;
}
.header{
    height:100px;
    width: 100%;
    background-color: rgba(29, 30, 30, 0.273);
}
.image1{

    margin-left: 100px;
    height: 100px;
    width: 200px;

}
#ans {
    display: none;
}
#drop{
    height: 50px;
    width: 120px;
    font-size: larger;
    text-align: center;
    background-color: black;
    color: white;
    float: right;
    margin-top: -80px;
    margin-right: 250px;
}
button{
    height: 50px;
    width: 120px;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(235, 28, 28);
    color: white;
    text-align: center;
    float: right;
    margin-top:-80px ;
    margin-right: 90px;
    border-radius: 40px;
}
.box{
    margin-top: 200px;
    margin-left: 480px;
    color: white;
}
.box1{
    margin-top: -60px;
    margin-left: 550px;
    color: white;
}
.box2{
    height:70px;
    width:400px;
    margin-top: -65px;
    color: white;
}
h1{
    font-size: 60px;
    color: #e21920;
}

h3{
    padding-left: 50px;
    padding-top: 5px;
    font-size: 24px;
  }  
 .box3{
    height: 20px;
    width: 550px;
    margin-top: -10px;
    margin-left: -20px;
 }
 .ebox{
    height: 45px;

    width: 550px;
    margin-left: -45px;
    margin-top: 5px;
 }
 .ep{
    height:40px ;
    width: 320px;
    background-color: rgba(47, 46, 46, 0.386);
    color: white;
    padding-left: 15px;
    font-size: large;
 }
 .btn{
    float: right;
    text-align: center;
    padding-top:6px;
    font-size: larger;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(227, 33, 33);
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;

 }
 /* ------------------------------------next one--------------------------- */
 .secbox{
    height:2700px ;
    width:375%;
    background-color: rgb(22, 21, 21);
    margin-top: 220px;
    margin-left: -550px;
 }
 .line{
    height: 10px;
    width: 100%;
    background: linear-gradient(#e22a19,#de5698);border-radius:   100000% 100000% 100%;
 }
 .h{
    font-size: 30px;
  
    padding-left: 30px;
 }

 /* ------------------------------------------------cards---------------------------------------- */
 .card{
    height: 275px;
    width: 100%;
    /* background-color: rgb(187, 68, 68); */
    margin-bottom: 50px;
    float: right;
    display: inline;
    display: flex;
    
 }
 .card1{
    height: 275px;
    width:180px; 
     /* background-color: #63a9be; */
     float: right;
     margin-right: 32px;
     display: flex;
 }
 
 
 
 .card2{
    height: 330px;width: 90%;
    margin-left: 50px;
    
    /* background-color: rgb(112, 17, 17); */
 }
 .card3{
    height: 300px;width: 290px;
    background: linear-gradient(#500d46,#120439) ;
     border-radius: 30px;
     margin-top: 10px;
    float: right; 
    margin-left: 45px;
 }
 #logo{
   font-size: 60px;
   margin-left: 220px;
   color: #7d076c;
 }
 #logo1{
   font-size: 50px;
   margin-left: 220px;
   margin-top: 80px;
   color: #7d076c;
 }

 #logo2{
   font-size: 50px;
   color: #7d076c;
   margin-left: 220px;
   margin-top: 10px;
 }
 #logo3{
   font-size: 50px;
   color: #7d076c;
   margin-left: 220px;
   margin-top: 30px;
 }
 .fa-regular{
   font-size: 50px;
   color: rgb(178, 10, 130);
   padding-left: 15px;
 }
 .fa-solid{
   font-size: 50px;
   color: rgb(178, 10, 130); 
   padding-left: 15px;
 }
/* ---------------------------------------------------cards completed----------------------------------- */
 .first{
    font-size: 30px; padding-left: 10px;
 }
 p{
    font-size: larger; padding-left: 10px;
 }
 h2{
    padding-left: 100px;
 }
 .qbox{
    height: 80px;
    width: 80%; margin-left: 7%;
    background-color:rgb(83, 81, 81);
    font-size: 20px;
    padding: 1px;
    margin-top: 5px;
 }
 #btn{
    float: right;
    background-color: rgba(240, 248, 255, 0);
    height: 80px;
    width: 80px;
    margin-right: 20px;
    text-align: center;
    margin-top: -75px;
    font-size: 60px;
    cursor: pointer;
 }
 .ans{
   height: 100px;
    width: 80%; margin-left: 7%;
    background-color:rgb(130, 127, 127);
    font-size: 20px;
    padding-top: 10px;
    margin-top: 5px;
    padding-left: 5px;
 }
 .box4{
    padding-left: 500px;
    padding-top: 50px;
 }
 .ebox2{
    height: 60px;
    width: 800px; margin-left: 430px;
    /* background-color: #be6b63; */
 }
 .ep1{
    width: 440px;
    height: 50px;
    padding-left: 10px;
    font-size: larger;
    color: white;
    background-color: rgb(22, 21, 21);
 }
 .btn1{
    float: right;
    height: 45px;
    width: 25%;
    font-size: 30px; margin-right: 140px;
    text-align: center;border-radius: 10px;
    background-color: rgb(227, 33, 33); padding-top: 10px;
    
 }
 .l{
    padding-left: 7%;
    font-size: 150%;
    padding-top: 50px;
 }
 .footer{
    height: 200px; width: 1010px; background-color: black; margin-left: 7%; 
 }
 .foot{
     font-size: larger;
     color:white;
     padding-left: 100px;
     padding: 10px;
     display: flex;
     justify-content:space-between;
     text-align: left;
     
 }
 .foot a{
   display: flex;
   flex-direction: row;
   text-decoration: none;
 }
 .a{
    color: white;
 }
 #drop1{
 height: 37px;
    width: 120px;
    font-size: larger;
    text-align: center;
    background-color: rgb(53, 50, 50);
    color: white;
    margin-top: 30px;
    margin-left: 7%;
 }
 .end{
    color:rgb(9, 213, 213);
    /* padding-left: 41%; */
    /* margin-bottom: -200px; */
    float: right;
    margin-top: -40px;
 }
 .haaa{
    height: 30px;width: 568px;
    margin-left: 7%;
    /* background-color: #500d46; */
 }

 h3{
    padding-left: 7%;
 }

 